<!DOCTYPE html>
<html lang="en" xmlns:th="http:// thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LOGIN PAGE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <p th:if="${error}" class="error">Wrong user or password</p>

    <form th:action="@{/app-login}" method="post">
        <div class="form-group">

            <label>
                Username
            </label>
            <input type="text"
                   class="form-control"
                   placeholder="Enter your username"
                   name="username">


        </div>
        <div class="form-group">
            <label>
                Password
            </label>
            <input type="text"
                   div class="form-control"
                   placeholder="Enter your username"
                   name="password">


        </div>
        <button type="submit" class="btn btn-primary" >Submit</button>

    </form>


</div>

</body>
</html>


