<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<body>
    <div th:include="navigation/navigation">Navigation</div>
    <div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h1>Zarejestruj użytkownika </h1>


            <form th:if="${#httpServletRequest.requestURL=='http://localhost:8081/register'}" th:action="@{/register}" method="post" th:object="${user}" onsubmit="return validation();">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" th:field="*{username}" class="form-control"/>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" th:field="*{password}" class="form-control"/>
                </div>

                <div class="form-group">
                    <label for="repeatPassword">RepeatPassword</label>
                    <input type="password" id="repeatPassword" th:field="*{repeatPassword}" class="form-control"/>
                </div>
                <p th:if="${errorPassword}">Hasla sie nie zgadzaja</p>


                <div th:if="${rolesAdmin}">
                    <div class="form-group">
                        <label>Role</label>
                        <select th:field="*{role}">
                            <option th:each="r : ${roles}" th:value="${r}" th:text="${r}"></option>
                        </select>
                    </div>
                </div>
                <div th:unless="${rolesAdmin}">
               <h1>Rejestrować może się tylko kibic, innych użytkowników może dodawać admin</h1>
                </div>




                <div class="form-group">
                    <button class="btn btn-success">Rejestracja</button>
                    <button class="btn btn-danger">Resetuj</button>
                </div>
            </form>



            <form th:if="${#httpServletRequest.requestURL=='http://localhost:8081/admin/dodajUzytkownika'}" th:action="@{/admin/register}" method="post" th:object="${user}" onsubmit="return validation();">
                <div class="form-group">
                    <label for="username">Nazwa</label>
                    <input type="text" id="username" th:field="*{username}" class="form-control"/>
                </div>

                <div class="form-group">
                    <label for="password">Hasło</label>
                    <input type="password" id="password" th:field="*{password}" class="form-control"/>
                </div>

                <div class="form-group">
                    <label for="repeatPassword">Powtórz Hasło</label>
                    <input type="password" id="repeatPassword" th:field="*{repeatPassword}" class="form-control"/>
                </div>
                <p th:if="${errorPassword}">Hasla sie nie zgadzaja</p>


                <div th:if="${rolesAdmin}">
                    <div class="form-group">
                        <label>Role</label>
                        <select th:field="*{role}">
                            <option th:each="r : ${roles}" th:value="${r}" th:text="${r}"></option>
                        </select>
                    </div>
                </div>
                <div th:unless="${rolesAdmin}">
                    <h1>Rejestrować może się tylko kibic, innych użytkowników może dodawać admin</h1>
                </div>




                <div class="form-group">
                    <button class="btn btn-success">Rejestracja</button>
                    <button class="btn btn-danger">Resetuj</button>
                </div>
            </form>





        </div>
    </div>
</div>

<script type="text/javascript">


    function validation() {


        var age = document.getElementById("age").value;
     ;



        if (age < 18 || age > 50) {
            document.getElementById('ageError').innerHTML = "Wiek musi byc  z przedziału 18-50";
            return false;
        }
    }


</script>


</body>
</html>