<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>


</head>
<body>


<div th:insert="navigation/managerNavigation">Navigation</div>

<div class="container">
    <div th:if="${thereArePlayers}">
        <h2>Skład na mecz został wybrany !</h2>

        <table class="table table-bordered table-striped">
            <tr>
                <th>Imie</th>
                <th>Nazwisko</th>

            </tr>
            <tr th:each="w:${playersReadyOnMatch}">
                <td th:text="${w.getName()}"></td>
                <td th:text="${w.getSurname()}"></td>

            </tr>

        </table>
        <!--     <form action="/manager/terminarzDruzyny/ustalSklad/usunSklad" method="post">
                 <div th:if="${homeTeamPlayersToDelete}">
                     <input type="text" name="homeTeamPlayersToDelete" th:value="${matchTeam.id}" hidden="hidden">
                     <input class="btn btn-secondary text-black float-left" type="submit" value="Usuń wybrany skład HOME"/>
                 </div>
                 <div th:if="${visitTeamPlayersToDelete}">
                     <input type="text" name="homeTeamPlayersToDelete" th:value="${matchTeam.id}" hidden="hidden">
                     <input class="btn btn-secondary text-black float-left" type="submit" value="Usuń wybrany skład VISIT"/>
                 </div>
             </form>-->

        <div th:if="${homeTeamPlayersToDelete}">
            <form action="/manager/terminarzDruzyny/ustalSklad/usunSkladHome" method="post">
                <input type="text" name="homeTeamPlayersToDeleteId" th:value="${matchTeam.id}" hidden="hidden">
                <input class="btn btn-secondary text-black float-left" type="submit" value="Usuń wybrany skład HOME"/>
            </form>
        </div>
        <div th:if="${visitTeamPlayersToDelete}">
            <form action="/manager/terminarzDruzyny/ustalSklad/usunSkladVisit" method="post">
                <input type="text" name="visitTeamPlayersToDelete" th:value="${matchTeam.id}" hidden="hidden">
                <input class="btn btn-secondary text-black float-left" type="submit" value="Usuń wybrany skład Visit"/>
            </form>
        </div>


    </div>
    <div th:unless="${thereArePlayers}">
        <h2>Wybierz skład na mecz</h2>

        <form action="/manager/terminarzDruzyny/ustalSklad" method="post">

            <input type="text" th:field="${matchTeam.id}" hidden="hidden" readonly="readonly">
            <input type="text" th:field="${matchTeam.homeTeam}" hidden="hidden" readonly="readonly">
            <input type="text" th:field="${matchTeam.visitTeam}" hidden="hidden" readonly="readonly">


            <div class="form-group">

                    <tr th:each="book, itemStat : ${form.playerList}">
                        <ul class="list-group">
<li>

                            <input type="checkbox"
                               th:value="${book.id}"
                               th:field="*{form.playerList[__${itemStat.index}__].id}"/>
                        <label  th:text="${book.name} + ' ' + ${book.surname} + ' pseudonim: ' + ${book.username}"></label>
               </li>
                  </ul>
                    </tr>


            </div>


            <input class=" btn btn-light float-left  " type="submit" value="Potwierdź"/>

        </form>
    </div>


</div>
</body>
</html>



