<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<style>
    table a {
        color: black;
    }

    .btn-group .btn-outline-danger {
        margin: 2px;

    }

</style>
<body>
<div th:insert="navigation/managerNavigation">Navigation</div>

<div class="container py-3 ">


      <span th:if="${matchTeamNotInit}">
        <h2>Dla podanej drużyny nie ma jeszcze terminarzu</h2>
    </span>

    <span th:unless="${matchTeamNotInit}">


    <div>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Kolejka</th>
                <th>1 Drużyna</th>
                <th>Wynik</th>
                <th>2 Drużyna</th>
                <th>Data Rozegrania meczu</th>
                <th>Akcja</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="p : ${matchTeam}">
                <td th:text="${p.queue}"></td>
                <td th:text="${p.homeTeam.name}"></td>
                <td th:text="${p.score}"></td>
                <td th:text="${p.visitTeam.name}"></td>
                <td th:text="${p.dateOfGame}"></td>

                <td>
                        <a class="btn btn-light  text-dark btn-outline-danger"
                      <!--     th:href="@{/manager/terminarzDruzyny/zmieńTerminarz/{id}(id=${p.id})}" role="button">
                            Zaproponuj zmiane daty meczu-->
                    <form action="${/m}">
                        <input type="submit" value="Go to Google" />
                        </form>
                        </a>

                    <div th:with="mycounter = ${sum.get()}">


                        <div th:each="tmp: ${p.getHomeTeamPlayers()}">
                            <div th:if="${players.contains(tmp)}">
                                <div th:with="mycounter=${sum.increment()}">
                                    <a class="btn btn-light  text-dark btn-outline-danger"
                                       th:href="@{/manager/terminarzDruzyny/ustalSklad/{id}(id=${p.id})}"
                                       role="button">
                                        Edytuj skład na mecz HOME
                                    </a>
                                </div>
                            </div>
                        </div>


                        <div th:each="tmp: ${p.getVisitTeamPlayers()}">
                            <div th:if="${players.contains(tmp)}">
                                <div th:with="mycounter=${sum.increment()}">

                                    <a class="btn btn-light  text-dark btn-outline-danger"
                                       th:href="@{/manager/terminarzDruzyny/ustalSklad/{id}(id=${p.id})}"
                                       role="button">
                                        Edytuj skład na mecz VISIT
                                    </a>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div th:if="${sum.get()<1}">

                        <a class="btn btn-light  text-dark btn-outline-danger"
                           th:href="@{/manager/terminarzDruzyny/ustalSklad/{id}(id=${p.id})}"
                           role="button">
                            Wybierz Sklad na mecz
                        </a>


                    </div>



                </td>
            </tr>
            </tbody>
        </table>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
                integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
                integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
                crossorigin="anonymous"></script>
    </div>
    </span>
</div>
</body>
</html>


