<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<style>
    table a {
        color: black;
    }

    .btn-group .btn-outline-danger {
        margin: 2px;

    }

</style>
<body>
<div th:insert="navigation/adminNavigation">Navigation</div>

<div class="container">

    <h2 class="text-center">Lista drużyn</h2>


    <form th:action="@{/admin/panelDruzyn}" method="get">
        <h4>Wyszukiwanie po słowie </h4>

        <div class="input-group pb-2">
            <div class="input-group-prepend">
                <input class="form-control" id="txtSearch" type="text" name="keyword">
            </div>
            <button class="btn btn-primary" type="submit">Szukaj</button>
        </div>
    </form>


    <table class="table table-bordered table-striped">
        <tr>
            <th>Nazwa</th>
            <th>Skrócona nazwa</th>
            <th>Kolory</th>
            <th>Nazwa Trenra</th>
            <th>Akcje</th>


        </tr>
        <tr th:each="w:${team}">
            <td th:text="${w.name}"></td>
            <td th:text="${w.shortName}"></td>
            <td th:text="${w.colors}"></td>
            <td>
                <div th:each="tmp:${w.getManagerTeams()}">
                    <div th:if="${tmp.isCurrently}">
                        <span th:text="${tmp.getManager().getUsername()}"></span>
                    </div>
                </div>
            </td>


            <td>


                <div class="btn-group" role="group" aria-label="Basic example">



                    <a class="btn btn-light text-dark btn-outline-danger " th:href="@{/admin/druzyna/gracze/{id}(id=${w.id})}"
                       role="button"> Podejrzyj zawodników</a>

                    <a class="btn btn-primary  text-dark btn-outline-danger" th:href="@{/admin/edytujDruzyne/{id}(id=${w.id})}"
                       role="button"> Edytuj</a>

                    <form action="/admin/usunDruzyne" method="post">
                        <input type="text" name="id" th:value="${w.id}" hidden="hidden">
                        <input class="btn btn-outline-danger btn-danger text-dark" type="submit" value="Usuń"/>
                    </form>
                </div>




            </td>
        </tr>
    </table>
    <a href="/admin/dodajDrużyne" class="btn btn-secondary text-black float-left"> Dodaj Nową Drużyne </a>


</div>
</body>
</html>