<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<style>
    table a {
        color: black;
    }
</style>
<body>
<div th:insert="navigation/adminNavigation">Navigation</div>

<div class="container">

    <h2 class="text-center">Lista Graczy</h2>


    <table class="table table-bordered table-striped">
        <tr>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Nazwa na koszulce</th>
            <th>Wiek</th>
            <th>Pozycja</th>
            <th>Klub</th>
            <th>Akcje</th>
        </tr>
        <tr th:each="w:${player}">
            <td th:text="${w.name}"></td>
            <td th:text="${w.surname}"></td>
            <td th:text="${w.shirtName}"></td>
            <th th:text="${w.age}"></th>
            <td th:text="${w.position.name()}"></td>


            <td>
                     <span th:each="team : ${w.getContracts()}">

                         <div th:if="${team.isCurrently}">
           <div th:text="${team.team.getName()}">
           </div>
       </div>



            </span>
            </td>

            <td>


                <div class="btn-group" role="group" aria-label="Basic example">


                    <a class="btn btn-primary  text-dark btn-outline-danger"
                       th:href="@{/admin/edytujGracza/{id}(id=${w.id})}"
                       role="button">Edytuj
                    </a>

                    <form action="/admin/usunPilkarza" method="post">
                        <input type="text" name="id" th:value="${w.id}" hidden="hidden">
                        <input class="btn btn-outline-danger btn-danger text-dark" type="submit" value="Usuń"/>
                    </form>
                </div>


            </td>


        </tr>

    </table>

    <a href="/admin/dodajPilkarza" class="btn btn-secondary text-black float-left"> Dodaj nowego piłkarza </a>

</div>
</body>
</html>