<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <style>

        .navbar-nav a{
            color: white;
        }





    </style>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand text-white">PJWSTK</a>



            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li sec:authorize="isAuthenticated()">
                        <span class="navbar-text px-2 text-white" sec:authentication="name"></span>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" href="/">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/manager/mojaDruzyna/">Zarządzaj moją drużyną</a>
                    </li>


                </ul>
                <ul class="nav navbar-nav navbar-right px-2">






                    <li sec:authorize="isAuthenticated()">
                        <a href="/logout">
                            <span class="fa fa-sign-in px-3 text-white"></span>
                            Wyloguj
                        </a>
                    </li>


                </ul>
            </div>
        </nav>
    </body>
</html>