<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<style>
    table a {
        color: black;
    }
</style>
<body>
<div th:insert="navigation/navigation">Navigation</div>

<div class="container">

    <div th:if="${error}">
        <h1>Terminarz w budowie, liga się jeszcze nie rozpoczeła</h1>
    </div>
    <div th:unless="${error}">

        <div class="py-5">

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Kolejka</th>
                    <th>1 Drużyna</th>
                    <th>Wynik</th>
                    <th>2 Drużyna</th>
                    <th>Data rozegrania meczu</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="p : ${page.content}">
                    <td th:text="${p.queue}"></td>
                    <td th:text="${p.homeTeam.name}"></td>
                    <td th:text="${p.score}"></td>
                    <td th:text="${p.visitTeam.name}"></td>
                    <td th:text="${p.dateOfGame}"></td>

                </tr>
                </tbody>
            </table>


            <ul class="pagination">
    <span th:if="${page.hasPrevious()}">
        <li class="page-item">
        <a class="page-link"
           th:href="@{/terminarz(page=${page.number-1},size=${page.size})}">Poprzednia Kolejka</a>
        </li>
    </span>


                <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                    <li class="page-item">
                        <span th:if="${page.number == i}" class="selected page-link">[[${i}+1]]</span>
                        <span th:unless="${page.number == i}">
             <a class="page-link" th:href="@{/terminarz(page=${i},size=${page.size})}">[[${i}+1]]</a>
        </span>
                    </li>
                </th:block>
                <span th:if="${page.hasNext()}">
                <li class="page-item">
        <a class="page-link" th:href="@{/terminarz(page=${page.number+1},size=${page.size})}">Następna Kolejka</a>
                </li>
    </span>
            </ul>


        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>
</html>